---
import Main from '../layouts/Main.astro';
---

<Main title="Art">
  <h2 class="text-7xl font-bold text-gray-900 dark:text-gray-300 mb-8">
    Videos
  </h2>
  <p class="px-4">
    <i>Some examples of promotional videos and short ads for businesses and individuals that I&apos;ve created on <span
      class="bg-gradient-to-r from-green-300 to-green-500 bg-clip-text text-transparent font-bold"
      >Fiverr.</span
    ></i>
  </p>
  <hr style="border: none; border-top: 1px solid rgba(255, 255, 255, 0.1); margin: 2rem 0;">

</head>
<body>
  <div class="gif-container">
    <div class="image-pair">
      <!-- Still image as the default view -->
      <img src="/images/Fly_still.jpg" alt="Still Image" class="still-image">
      <!-- GIF that appears on hover -->
      <img src="/images/Fly.gif" alt="Animated GIF" class="gif">
      <p class="mt-4 text-center">
        <i>Buisness ad for Fly Strix</i>
      </p>
    </div>
    <div class="image-pair">
      <img src="/images/Aure_still.jpg" alt="Still Image" class="still-image">
      <!-- GIF that appears on hover -->
      <img src="/images/Aure.gif" alt="Animated GIF" class="gif">
      <p class="px-4 mt-4 text-center">
        <i>Buisness Ad for Aure</i>
      </p>
    </div>
  </div>
</body>
<hr style="border: none; border-top: 1px solid rgba(255, 255, 255, 0.1); margin: 2rem 0;">
</Main>
