---
import Main from '../layouts/Main.astro';
---

<Main title="Blog">
  <section class="px-4">
    <h2 class="text-5xl font-bold text-gray-900 dark:text-gray-300 mb-6">
      Blog
    </h2>
    <p class="px-4 mb-1 text-gray-600 dark:text-gray-400"><i>
        Short articles about my research, interests, or projects.
        (<a href="https://maxlsb.bearblog.dev/" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">Visit my blog</a>)
      </i>
    </p>

    <ul class="mt-4 space-y-5">
      <li>
        <a href="https://maxlsb.bearblog.dev/splitformer/" target="_blank" rel="noopener noreferrer"
           class="block bg-white dark:bg-[#2e2e2e] rounded-2xl shadow-md p-4 hover:bg-gray-100 dark:hover:bg-[#444] transition-colors duration-200">
          <div class="flex flex-col gap-3 md:flex-row md:items-center md:justify-between">
            <p class="text-lg font-semibold text-gray-900 dark:text-white">
              Splitformer: An improved early-exit architecture for ASR on edge devices
            </p>
            <div class="text-sm text-gray-600 dark:text-gray-300 text-right md:text-left md:whitespace-nowrap">
              <div>27 Mar, 2025</div>
              <div>5 min read</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </section>
</Main>

<script>
  import { gsap } from 'gsap';

  document.addEventListener('astro:page-load', () => {
    gsap.to('.animate-text', {
      opacity: 1,
      y: 0,
      duration: 1,
      ease: 'power2.out',
    });
  });
</script>
