---
import Main from '../layouts/Main_index.astro';
import Cards from '../components/Cards.astro';
import { Image } from 'astro:assets';

const blogs = await Astro.glob<{
  title: string;
  poster: string;
  subtitle: string;
}>('../pages/blogs/*.md');
---

<Main title="Maxence Lasbordes">
  <div class="flex flex-col items-center mb-6 mt-10 animate">
    <Image
      class="object-cover rounded-full w-[300px] h-[300px] max-md:w-40 max-md:h-40 mb-2" 
      src="/images/pp_max.jpg"
      alt="Avatar"
      width={300}
      height={300}
      loading="eager"
    />

    <div class="flex flex-col items-center mt-4 mb-6">
      <h1 class="text-5xl font-bold text-gray-900 dark:text-gray-300">
        Maxence Lasbordes
      </h1>
      <h2 class="text-xl sm:text-1xl text-gray-800 dark:text-gray-300 mt-5">
        French Machine Learning Student 
        <span class="font-bold italic"> @ENS @Dauphine @Telecom SudParis</span>
      </h2>
      
    </div>
  </div>

  <div style="margin-top: 50px;" transition:name="cards">
    <Cards
      cards={[
        {
          title: 'Recent Projects',
          gradientFrom: '#D3D3D3',
          gradientTo: '#E0E0E0',
          to: '/projects',
        }
      ]}
    />
  </div>
</Main>

<script>
  import gsap from 'gsap';

  document.addEventListener('astro:page-load', () => {
    gsap.from('.animate', {
      opacity: 0,
      y: 20,
      duration: 1,
      stagger: 0.2,
      ease: 'power2.out',
    });
  });
</script>

<style>
  .floating-span {
    display: inline-block;
  }
  #copyLinkContainer.hidden {
    display: none;
  }
</style>
