---
import Main from '../layouts/Main_index.astro';
import { Image } from 'astro:assets';

// const blogs = await Astro.glob<{
//   title: string;
//   poster: string;
//   subtitle: string;
// }>('../pages/blog/*.md');
---

<Main title="Home">
  <div class="flex flex-col items-center mb-6 mt-10 animate">
    <Image
      class="object-cover rounded-full w-[250px] h-[250px] max-w-full max-h-full mb-2" 
      src="/images/pp_max.jpg"
      alt="Avatar"
      width={250}
      height={250}
      loading="eager"
    />

    <div class="flex flex-col items-center justify-center mt-4 mb-10 text-center">
      <h1 class="text-5xl font-bold text-gray-900 dark:text-gray-300">
          Maxence Lasbordes
      </h1>
      <h2 class="text-xl sm:text-1xl text-gray-800 dark:text-gray-300 mt-5">
          French Machine Learning Student 
          <span class="font-bold italic"> @ENS @Dauphine @Telecom SudParis</span>
      </h2>
  </div>
  
  </div>

</Main>

<script>
  import gsap from 'gsap';

  document.addEventListener('astro:page-load', () => {
    gsap.from('.animate', {
      opacity: 0,
      y: 20,
      duration: 1,
      stagger: 0.2,
      ease: 'power2.out',
    });
  });
</script>

<style>
  .floating-span {
    display: inline-block;
  }
  #copyLinkContainer.hidden {
    display: none;
  }
</style>
