---
import Main from '../layouts/Main.astro';
import Cards from '../components/Cards.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ProjectCardReport from '../components/ProjectCardReport.astro';
import ProjectCardStreamlit from '../components/ProjectCardStreamlit.astro';
---

<Main title="Projects">

  <section class="text-left container mx-auto py-8 animate-on-load">
    <h2 class="text-7xl font-bold text-gray-900 dark:text-gray-300 mb-8">
      Projects
    </h2>
    
    <p class="px-4">
      <i>List of my projects from the most recent to the oldest.</i>
    </p>
    <hr style="border: none; border-top: 1px solid rgba(255, 255, 255, 0.1); margin: 2rem 0;">

    <div class="flex flex-col animate-on-load">
      <ProjectCardStreamlit
        title="BERT From Scratch \& Emotion classification"
        description="Re-implemented BERT from scratch. And fine-tuned a pre-trained BERT model for emotion classification. Deployed it using Streamlit."
        technologies={['MachineLearning','NLP', 'Pytorch', 'Python', 'Streamlit']}
        href_github="https://github.com/MaxLSB/BERT-Implementation-and-Fine-Tuning"
        href_streamlit="https://bert-emotion-classification.streamlit.app/"
        imgSrc="/images/bert.png"
        imgAlt="Project"
      />
      <hr style="border: none; border-top: 1px solid rgba(255, 255, 255, 0.1); margin: 1rem 0;">
      <div class="flex flex-col animate-on-load">
        <ProjectCardReport 
          title="Zipformer-like Architectures \& Ensemble Models for ASR"
          description="Developed Zipformer-like architectures with FBK's Early Conformer model for Automatic Speech Recognition. Researched \& Experimented with Ensemble models."
          technologies={['MachineLearning','ASR', 'Pytorch', 'Python']}
          href_github="https://github.com/augustgw/early-exit-transformer"
          href_report="/images/FBK_Report.pdf"
          imgSrc="/images/fbk_github.png"
          imgAlt="Project"
        />
      <hr style="border: none; border-top: 1px solid rgba(255, 255, 255, 0.1); margin: 1rem 0;">
      <ProjectCardStreamlit
        title="Referee Action Recognition"
        description="Deployed a volleyball referee hand signal detection and classification model with Streamlit, using OpenCV, MediaPipe, Pytorch, LSTMs/CNNs and a custom made dataset."
        technologies={['ComputerVision', 'MachineLearning','OpenCV', 'Mediapipe', 'Python', 'Pytorch', 'Streamlit']}
        href_github="https://github.com/MaxLSB/Volleyball-Referee-Hand-Signals-Recognition-Model"
        href_streamlit="https://vb-hand-signals-recognition.streamlit.app/"
        imgSrc="/images/volleyball.png"
        imgAlt="Project"
      />
      <hr style="border: none; border-top: 1px solid rgba(255, 255, 255, 0.1); margin: 1rem 0;">
      <ProjectCard
        title="Video Game Match Prediction"
        description="Machine Learning prediction model for forecasting the outcomes of League of Legends matches after 10 minutes of gameplay. Deployed it using Flask."
        technologies={['MachineLearning', 'Python', 'Flask', 'HTML', 'CSS', 'JavaScript']}
        href="https://github.com/MaxLSB/LoL-Match-Prediction-Model-Deployed"
        imgSrc="/images/league.png"
        imgAlt="Project"
      />
      <hr style="border: none; border-top: 1px solid rgba(255, 255, 255, 0.1); margin: 1rem 0;">
      <ProjectCard
        title="Portfolio Website"
        description="Personal portfolio website built using an Astro template. Hosted on GitHub Pages."
        technologies={['Astro', 'HTML', 'CSS', 'JavaScript']}
        href="https://github.com/MaxLSB/MaxLSB.github.io"
        imgSrc="/images/portfolio.png"
        imgAlt="Project"
      />
      <hr style="border: none; border-top: 1px solid rgba(255, 255, 255, 0.1); margin: 1rem 0;">
    </div>
  </section>
</Main>

<style>
  .floating-span {
    display: inline-block;
  }
</style>

<script>
  import { gsap } from 'gsap';

  document.addEventListener('astro:page-load', () => {
    const spans = document.querySelectorAll('.floating-span');
    spans.forEach(span => {
      gsap.to(span, {
        y: '-5',
        duration: 1,
        ease: 'power2.inOut',
        repeat: -1,
        yoyo: true,
      });
    });

    const elements = document.querySelectorAll('.animate-on-load');
    gsap.from(elements, {
      opacity: 0,
      y: 20,
      duration: 1,
      ease: 'power2.out',
      stagger: 0.3,
    });
  });
</script>
