---
const { text, href } = Astro.props;
---

<div class="text-center">
  <a href={href} class="btn" target="_blank">
    {text}
  </a>
</div>

<style>
  .btn {
    @apply inline-block font-semibold no-underline text-slate-50 px-3 py-1.5 rounded-md shadow-md transition-transform duration-300 ease-in-out;
    background-color: #004080; /* Slightly lighter dark blue color */
    box-shadow:
      0 8px 16px rgba(0, 64, 128, 0.5), /* Slightly lighter shadow */
      0 4px 4px rgba(0, 64, 128, 0.5),  /* Slightly lighter shadow */
      0 0 80px -10px #004080; /* Slightly lighter blue shadow */
  }

  .btn:hover {
    transform: translateY(-2px);
    box-shadow:
      0 12px 24px rgba(0, 64, 128, 0.25), /* Slightly lighter shadow on hover */
      0 8px 8px rgba(0, 64, 128, 0.22),  /* Slightly lighter shadow on hover */
      0 0 100px -10px #004080; /* Slightly lighter blue shadow on hover */
  }
</style>
