---
// Define props for the button component
const { text, href } = Astro.props;
---

<div class="text-center">
  <a href={href} class="btn" target="_blank">
    {text}
  </a>
</div>

<style>
  .btn {
    @apply inline-block font-bold no-underline text-slate-50 px-4 py-2 rounded-md shadow-lg transition-transform duration-300 ease-in-out;
    background-color: #D95D5D; 
    box-shadow:
      0 10px 20px rgba(217, 93, 93, 0.5), 
      0 6px 6px rgba(217, 93, 93, 0.5),  
      0 0 100px -10px #D95D5D; 
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow:
      0 14px 28px rgba(217, 93, 93, 0.25), 
      0 10px 10px rgba(217, 93, 93, 0.22), 
      0 0 120px -10px #D95D5D; 
  }
</style>



