---
// Define props for the button component
const { text, href } = Astro.props;
---

<div class="text-center">
  <a href={href} class="btn" target="_blank">
    {text}
  </a>
</div>

<style>
  .btn {
    @apply inline-block font-bold no-underline text-slate-50 px-4 py-2 rounded-md shadow-lg transition-transform duration-300 ease-in-out;
    background-color: #4CB94C; 
    box-shadow:
      0 8px 16px rgba(76, 185, 76, 0.4), 
      0 5px 5px rgba(76, 185, 76, 0.3),  
      0 0 80px -10px rgba(76, 185, 76, 0.5);
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow:
      0 12px 24px rgba(76, 185, 76, 0.2), 
      0 8px 8px rgba(76, 185, 76, 0.18), 
      0 0 100px -10px rgba(76, 185, 76, 0.3); 
  }
</style>



